<html>
<head>
<style>
@define-color foreground {foreground};
@define-color background {background};
@define-color backgroundsolo rgba({background.red},{background.green},{background.blue},.85);
@define-color cursor {cursor};

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};
</style>
</head>
<body>
<table>
  <tr>
    <td style="color:@color0;"> Color 0</td>
    <td style="color:@color1;"> Color 1</td>
  </tr>
  <tr>
    <td style="color:@color2;"> Color 2</td>
    <td style="color:@color3;"> Color 3</td>
  </tr>
  <tr>
    <td style="color:@color4;"> Color 4</td>
    <td style="color:@color5;"> Color 5</td>
  </tr>
  <tr>
    <td style="color:@color6;"> Color 6</td>
    <td style="color:@color7;"> Color 7</td>
  </tr>
  <tr>
    <td style="color:@color8;"> Color 8</td>
    <td style="color:@color9;"> Color 9</td>
  </tr>
  <tr>
    <td style="color:@color10"> Color 10</td>
    <td style="color:@color11"> Color 11</td>
  </tr>
  <tr>
    <td style="color:@color12"> Color 12</td>
    <td style="color:@color13"> Color 13</td>
  </tr>
  <tr>
    <td style="color:@color14"> Color 14</td>
    <td style="color:@color15"> Color 15</td>
  </tr>
</table>

</body>
</html>
